body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE29NqyzkxjjLB6M67NIE1ti0E0-OruIPLAw&s");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  font-weight: 500;
}